.rm-section{
    max-height: 570px;
    min-height: 500px;
    
}
.rm-section div{
    height: 100%;
}
.rm-section img {
    max-height: 570px;
    margin-left: 80px;
}
.rm-section .about-main-heading{
    font-size: 45px;
    line-height: 44px;
    font-weight: 600;
    /*temp*/
    height: 400px;
    padding: 30px;
}
.rm-section .sub-heading{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4D4D4D;
    font-family: Lato;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -1.2px;
    line-height: 48px;
}
.rm-section .content{
    opacity: 0.5;
    color: #000000;
    font-family: Lato;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 34px;
}
.rm-sub-title{
    font-weight: bold;
    padding: 10px;
}

/*html,
body {
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: #4D4545;
}*/

.blue-bg {
  background-color: #4D4545;
  background-color: #E7EAEC;
  color: #ec6d01;
  height: 100%;
  padding: 20px;
}
.blue-bg p{
  font-style: italic;
}
.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #ffac00;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ffac00;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.full-left::after {
  height: 100%;
  left: calc(50% - 0px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.how-it-works.row .col-2.top-right::after {
  height: 50%;
  left: calc(50% - 3px);
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #ffac00;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #ffac00;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}



.icon-box {
    padding: 20px;
    border-radius: 6px;
}
.icon-box-title{
    font-weight: bold;
}
.rm-icon-span{
    color: #6a4207;
    font-size: 35px;
    height: 60px !important;
    width: 60px;
    border-radius: 100%;
    margin: 15px auto;
    background-color: #c4c4c4;
}


/*plans*/
.planGrid div{
    height: auto;
}
.planGrid__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.planGrid--hasFixedHeader .planGrid__header {
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    max-width: 978px;
    padding: 0 16px;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}
.planGrid__selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.planGrid__selectorChoice {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.planGrid__selectorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: -1;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
.planGrid__selectorLabel {
    -webkit-touch-callout: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.planGrid__planLabel::after {
    content: '';
    display: block;
    border: 0 solid transparent;
    border-top-color: #e50914;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.planGrid__planInput:checked + .planGrid__planLabel {
    opacity: 1;
}
.planGrid__featureTable {
    border-collapse: collapse;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 160px;
}
.planGrid__featureTableRow {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.planGrid__cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #a6a6a6;
    fill: #a6a6a6;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}
.planGrid__featureCell {
    color: #333333;
    fill: #333333;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
}
.planGrid__cell.planGrid__cell--isSelected, .planGrid--hasImprovedColorContrast .planGrid__cell.planGrid__cell--isSelected {
    color: #e50914;
    fill: #e50914;
}
.planGrid__selectorTitle, .planGrid__selectorDescription {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.planGrid__booleanIcon {
    width: 18px;
    height: 18px;
    display: inline-block;
}
@media only screen and (min-width: 951px), only screen and (max-width: 950px) and (min-width: 601px){
.planGrid__featureTableRow {
    border-bottom: 1px solid #cccccc;
    min-height: 60px;
}
.planGrid--has4Plans .planGrid__cell {
    width: -webkit-calc(65% / 4);
    width: -moz-calc(65% / 4);
    width: calc(65% / 4);
}
.planGrid--has4Plans .planGrid__featureCell {
    width: 35%;
}
.planGrid__cell {
    padding: 12px 16px;
}
.planGrid__planSelector {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.planGrid--has4Plans .planGrid__selector {
    width: 65%;
}
.planGrid__planChoice {
    padding: 12px 0;
}
.planGrid__planInput:checked + .planGrid__planLabel::after {
    border-width: 10px;
    border-bottom-width: 0;
}
}
@media only screen and (min-width: 951px){
.planGrid__planInput, .planGrid__planLabel {
    width: 120px;
    height: 120px;
}
}
.planGrid__planInput {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.planGrid--has4Plans .planGrid__planChoice {
    width: -webkit-calc(100% / 4);
    width: -moz-calc(100% / 4);
    width: calc(100% / 4);
}
.planGrid__planLabel {
    padding: 1px;
    background: #e50914;
    color: #ffffff;
    font-weight: bold;
    opacity: 0.6;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 17px;
    margin: 0 auto;
}
/*plans*/


.sp-bigsc{
  position: absolute; 
  bottom: 0px;
  margin: auto;
  left: calc(50% - 135px);
  height: auto;
}
.help-middle-section{
  border-left: solid 2px #d6d6d6;
  border-right: solid 2px #d6d6d6;
}
@media only screen and  (min-width:992px){
  .bigsc{
    height: 354px!important;
  }
  .sp-bigsc{
    height: auto!important;
  }

  /* .rm-section{
    min-height: auto;
    max-height: auto;
  } */
}
@media only screen and  (max-width:992px){
  .h1, h1 {
    font-size: 1.5rem;
  }
  .fa-4x{
    font-size: 2rem !important;
  }
  /* .rm-section {
    max-height: initial!important;
    min-height: initial!important;
} */
  .main-banner{
    height: auto;
  }
  .sp-bigsc{
    position: relative;
    left: auto;
  }
  .sp-bigsc a{
    margin-top: 20px !important;
    padding: 8px 20px !important;
  }
  .help-middle-section{
    border: none;
    border-top: solid 2px #d6d6d6;
    border-bottom: solid 2px #d6d6d6;
    margin: 10px 0px;
    padding: 10px 0px;
  }
}