<!-- <div ng-controller="connectionController" class="rm-blog-page">
    <div class="rm-connect-page"> -->
        <!-- <table class="table table-borderless table-responsive-sm">
            <tbody>
                <tr>
                    <td>Name* :</td>
                    <td><input placeholder="Name*" type="text" required ng-model="newConnect.author"></td>
                </tr>
                <tr>
                    <td>Occupation* :</td width="20%">
                    <td><input placeholder="Occupation*" type="text" required ng-model="newConnect.occupation"></td>
                </tr>
                <tr>
                    <td>Contact Number* :</td width="20%">
                    <td><input placeholder="Phone Number*" type="text" required ng-model="newConnect.phone"></td>
                </tr>
                <tr>
                    <td>Message* :</td>
                    <td><input placeholder="Message*" required type="text" ng-model="newConnect.message"></td>
                </tr>
                <tr style="text-align: right;">
                    <td colspan="2" style="text-align: right;"><button class="btn btn-primary btn-ghost"
                            ng-click="updateNewConnect()" style=" padding: 8px 15px;">Send</button></td colspan="2">
                </tr style="text-align: right;">
            </tbody>
        </table> -->

        <!--<div class="rm-popup-container"> -->
        <!-- <div class="rm-popup-header">Connect with us</div>
            <div>Name* : <input placeholder="Name*" type="text" required ng-model="newConnect.author"></div>
            <div>Occupation* :<input placeholder="Occupation*" type="text" required ng-model="newConnect.occupation"></div>
            <div>Contact Number* : <input placeholder="Phone Number*" type="text" required ng-model="newConnect.phone"></div>
            <div>Message* : <input placeholder="Message*" required type="text" ng-model="newConnect.message"></div>
             -->
        <!-- <div style="text-align: right;"> -->
        <!-- <button class="btn btn-primary btn-ghost" ng-click="toggleConnect()">Cancel</button> -->
        <!-- <button class="btn btn-primary btn-ghost" ng-click="updateNewConnect()">Send</button>
            </div> -->
        <!-- </div>-->
    <!-- </div>
</div> -->
<div ng-controller="connectionController" class="rm-blog-page contact-container">
    <div class="contact-section" style=" padding: 35px;">
        <div class="contactr01">
            <h1 class="imp-colored">Hello</h1>
            <p class="imp-colored" style="text-decoration: underline;">Prepared to make your dreams come true?</p class="imp-colored">
            <div>Let us help you in your endeavours</div>
        </div>
        <div class="contactr02">
            <div class="conl">
                <h4 class="imp-colored">Rohit Mittal</h4>
                <div>(Chief Mentor)</div>
                <p ng-if="windowWidth>720">&nbsp;</p>
                <p>Contact:&nbsp;759-759-78-78</p>
                <p>Email:<a href="mailto:contact@rohitmittal.in">&nbsp;contact@rohitmittal.in</a></p>
            </div>
            <!-- <div class="conr">
                <h4 class="imp-colored">Office</h4>
                <p>Mobile: +91 99677 34215</p>
                <p>Landline: +91 8655042119<br> Email:&nbsp;<a
                        href="mailto:iram@priya-kumar.com">iram@priya-kumar.com</a></p>
                <p><strong>Please contact: For Corporate Enquiries, Collaborations, College &amp; Community
                        Enquiries, Attending Workshop</strong></p>
            </div> -->
        </div>
        <div class="contactr03">
            <div role="form" class="wpcf7" id="wpcf7-f411-p363-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <!-- <form action="" method="post" class="wpcf7-form"
                    novalidate="novalidate"> -->
                    <div class=" form-div conforml"><span class="wpcf7-form-control-wrap your-name"><input type="text"
                                name="your-name" value="" size="40"  ng-model="newConnect.author"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required name"
                                aria-required="true" aria-invalid="false" placeholder="Name"></span> </div>
                    <div class=" form-div conformr"><span class="wpcf7-form-control-wrap your-email"><input type="text"
                                name="your-email" value="" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email mail"
                                aria-required="true" aria-invalid="false" placeholder="City"  ng-model="newConnect.location"></span> </div>
                    <div class="form-div conforml"><span class="wpcf7-form-control-wrap your-phone"><input type="text"
                                name="your-phone" value="" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required phone"
                                aria-required="true" aria-invalid="false" placeholder="Phone" ng-model="newConnect.phone"></span> </div>
                    <div class="form-div conformr"><span class="wpcf7-form-control-wrap your-location"><input type="text"
                                name="your-location" size="40"
                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required loction"
                                aria-required="true" aria-invalid="false" placeholder="Preparing for"  ng-model="newConnect.preparing"></span> </div>
                    <div class="form-div conformlr"><span class="wpcf7-form-control-wrap your-message"><textarea
                                name="your-message" cols="40" rows="10"
                                class="wpcf7-form-control wpcf7-textarea msg" aria-invalid="false"
                                placeholder="What are you looking for?" ng-model="newConnect.message"></textarea></span> </div>
                    <div class="form-div conformbt">
                        <button class="btn btn-primary btn-ghost"
                    ng-click="updateNewConnect()" style=" padding: 8px 15px;">Send</button>
                        <!-- <input type="button"
                            id="wpcf-custom-btn-0"
                            class="wpcf7-form-control wpcf7-submit  recaptcha-btn recaptcha-btn-type-css"
                            value="Submit" title="Submit"> -->
                    </div>
            </div> <!-- .et_pb_text -->
        </div>
    </div>
            <div ng-if="windowWidth>720" class="contact-section" style="height: 644px;"><img style="height: 100%;object-fit: cover;"
                    src="https://firebasestorage.googleapis.com/v0/b/rohit-mittal.appspot.com/o/img%2Fcompressed%20imgs%2FNN4A4094%20copy.jpg?alt=media&token=840c432c-ac28-4ef2-9a4d-5a9f00c7f756" alt="Rohit Mittal">
            </div>
    
    <div class="rm-popup-parent" ng-if="didBook">
        <div class="rm-popup-container">
            <div class="rm-popup-header">Thank you for contacting us.. </div>
            <div>Rohit's team will get in touch with you. </div>
            <div style="text-align: right;">
                <button class="btn btn-primary btn-ghost" ng-click="toggleDidBook()">Ok</button>
            </div>
        </div>
    </div>
</div ng-controller="connectionController" class="rm-blog-page">

