<div  class="rm-blog-page">
    <section class="articles latest-articles" id="blogdiv" data-page="1" data-category="">
        <div class="container">
            <div id="blogItems" class="modify-blog-container">
                <div ng-if="!id"> Cover Image : <input type="file" accept="image/*" ng-model="imgUrl.img" app-filereader></input></div>
                <div> Title : <textarea ng-model="title"></textarea></div>
                <!-- <div> Content : <textarea ng-model="text"></textarea></div> -->
                <!--<div id="toolbar"></div>-->
                <div> Content :
                    <div id="editor"></div>
                </div>
                <div> Category :
                    <select ng-model="categ">
                        <option ng-repeat = "cat in blogCats" ng-if="cat!=='All'" value={{cat}}>{{cat}}</option>
                    </select>
                </div>
                <span><input type="checkbox" ng-change="toggleEnable()" ng-model="isEnabled"/>On homepage</span>
            </div>
            <button class="btn btn-primary btn-ghost" ng-click="saveBlog()">Save</button>
    </section>
</div>