.articles.latest-articles {
    padding-bottom: 50px;
}
.rm-blog-page .item-article img{
    /* height: 250px; */
    width: 100%;
    object-fit: cover;
}
.videos-page .item-article {
    height: auto;
}
.articles {
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #E7EAEC;
}
.item-article.edit-blog .item-head {
    padding: 20px 30px;
    height: 105px;
}
.item-article-auto{
    height: auto;
}
.blog-container .blog-text {
    padding: 20px 30px 50px 30px;
    background-color: #fff;
}
.blog-container{
    width: 100%;
}
.blog-container img{
    height: 250px;
}
.blog-container .title{
    padding-bottom: 20px;
    border-bottom: solid 2px #80808021;
    font-size: 20px;
    margin-bottom: 25px;
}
.item-article.edit-blog .item-head a,.blog-container .blog-text a {
    color: #333333;
}
.item-article.edit-blog .item-head .date-blog {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #8A8C8D;
}
.rm-video-header{
    padding: 20px 0px;
}
.rm-video-header-tab{
    padding-right: 10px;
    cursor: pointer;
}
.rm-video-header-selected {
    font-size: 20px;
    font-weight: 600;
}
.item-article:hover {
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, .7);
    cursor: pointer;
}
.rm-play-button{
    /*display: none;*/
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 50px;
    margin-left: -21px;
    margin-top: -25px;
    opacity: .7;
}
.item-article:hover .rm-play-button{
    /*display: block;*/
    opacity: 1;
}
.video-banner{
    margin-left: 40%;
}
@media only screen and  (max-width:768px){
    .video-banner{
        margin-left: 0;
    }
}